<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hobby</title>
  </head>
  <body>
    <%- include("layout/header") %>
    <main>
      <p>
        <span> Adress:</span> 22006 Hawaiian Ave Hawaiian Gardens,
        California(CA), 90716
      </p>
      <p><span>Phone: </span>(248) 289-1151</p>
      <p><span>Email: </span>hobbies@gmail.com</p>
      <p><span>Web: </span>www.hobbie.com</p>
    </main>
    <%- include("layout/footer") %>
  </body>
</html>
