* {
  padding: 0;
  margin: 0;
}
body {
  background-color: skyblue;
}
header {
  background-color: gray;
  min-height: 6vh;
}
nav ul {
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 50px;
  user-select: none;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: wheat;
}

main {
  width: 50%;
  min-height: 90vh;
  margin: auto;
  margin-top: 20px;
  min-width: 330px;
}
main input {
  height: 2rem;
  width: 80%;
  /* border: none; */
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
  user-select: none;
  border: 2px solid skyblue;
}
main button {
  height: 2rem;
  width: 15%;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: gray;
  border: 2px solid gray;
  color: wheat;
  transition: all 0.2s ease-in-out;
}
main button:hover {
  color: white;
}
.list {
  margin-top: 20px;
  margin-left: 15px;
}
.list li {
  padding-bottom: 5px;
}
p {
  margin-bottom: 1rem;
}
span {
  font-weight: bold;
}
footer {
  color: gray;
  margin-left: 5px;
  font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
  main {
    width: 80%;
  }
}
